extends layout

block content
  .error
    h1 Wow, seems something went wrong
    h1= message
    p If you think it should work fine, email me at #[a(href='mailto:ruslanpurii@gmail.com') ruslanpurii@gmail.com]
