extends layout

block content
    -
        var id = 'kfghfghfkg4654'
        var name = 'Популярное за неделю'
        var owner = 'Ruslan Purii'
        var films = [{"id":"565819","title":"Выживут только любовники","title_original":"Only Lovers Left Alive","poster":"/images/temp/httpsstkpyandexnetimagesfilm_big565819jpg.jpg","year":"2013","country":"Германия, Великобритания, Франция, Греция, США, Кипр","genre":"фэнтези, триллер, драма","directors":["Джим Джармуш"],"writers":["Джим Джармуш","Marion Bessay"],"actors":["Тильда Суинтон","Том Хиддлстон","Антон Ельчин","Миа Васиковска","Джеффри Райт","Слиман Дази","Джон Хёрт","Картер Логан","Орели Тепо","Али Эмин","Дэйв В.","Ego Sensation","Ник Нейм","Fouad El Achaari","Hawchi Mustapha","Abdelkader Dourkan","Mohamed Chairi Felah","Bilal Chair Felah","Omar Raissouli","Ясмин Хамдан","Marc Codsi","Нуреддин Туати","Hanane El Karni","Хамза Кадри","Juliette Allain","Жорж Клесе","Лоик Корбери","Алекс Дека","Matthieu Sampeur","Катрин Вилькенинг","Коуди Стаубер"],"description":"История древних вампиров Адама и Евы, которые видели ещё татаро-монгольское иго и инквизицию. Адам — рокер из Детройта, играющий андеграунд-музыку. Он уже очень старый, он хочет тишины, покоя, и тихо ненавидит «зомби» (так вампиры зовут людей). Ева же — напротив, весьма жизнерадостная вампирелла постарше, общающаяся с поэтом времён Шекспира, Кристофером Марло, и живущая в Танжере. Она приезжает вытаскивать своего любовника из пучины депрессии. Но идиллию нарушает внезапно заявляющаяся младшая сестра Евы — Ава. Исход ситуации предсказать не в силах никто — выживут только любовники?","rating_kp":"7.417","rating_imdb":"7.30"},{"id":"5656","title":"Ягуар жив!","title_original":"Jaguar Lives!","poster":"/images/temp/httpsstkpyandexnetimagesfilm_big5656jpg.jpg","year":"1979","country":"США, Испания","genre":"боевик","directors":["Эрнест Пинтофф"],"writers":["Ябо Яблонски"],"actors":["Джо Льюис","Кристофер Ли","Дональд Плезенс","Барбара Бах","Капюсин","Джозеф Уайзмен","Вуди Строуд","Джон Хьюстон","Гэбриел Мельгар","Энтони Де Лонгис","Сэлли Фолкнер","Гэйл Грэйнджер","Энтони Хитон","Луис Прендес","Симон Андреу","Джеймс Смилли","Оскар Джеймс","Рэй Джюэрс","Ральф Орвилл Браун","Федра Лоренте","Сильвия Агилар","Стив Герхардт","Джей Т. Уилл","Жорж Риго","Эмилио Родригес","Виктор Исраэль","Марибель Идальго","Bill Currant","Джозеф Харрисон","Taida Urruzola","Catherine Basseti","Law Chi-Chan","Билл Каррен","Юэнь Ва"],"description":"Крупнейший в мире наркоделец, известный под именем Эстебан, — загадочная личность. Мало кто знает его в лицо. Эстебан намерен объединить все наркокартели и управлять ими своей могучей рукой, найти неуловимого наркокороля и разрушить его планы должен спецагент Джонатан Кросс, которого недаром называют Ягуаром.","rating_kp":"0.000","rating_imdb":"4.30"},{"id":"9889","title":"Элитный отряд","title_original":"Extreme Justice","poster":"/images/temp/httpsstkpyandexnetimagesfilm_big9889jpg.jpg","year":"1993","country":"США","genre":"боевик, триллер, драма, криминал","directors":["Марк Л. Лестер"],"writers":["Фрэнк Сакс","Роберт Борис"],"actors":["Лу Даймонд Филлипс","Скотт Гленн","Челси Филд","Яфет Котто","Эндрю Дивофф","Ричард Гроув","Уильям Лаккинг","Л. Скотт Колдуэлл","Ларри Холт","Дэниэл Куинн","Томас Розалес мл.","Эд Фриаш","Джей Арлен Джонс","Адам Гиффорд","Джофри С. Браун","Ричард Аллен","Пол Бен-Виктор","Sonia Darmei Lopes","Эми Мур Дэвис","Тим ДеЗам","Дэвид Тресс","Джули Остин","Даррен Моддер","Энтони Херрера","Сэм Хайона","Мелвин Джонс","Тэмми Брэйди Конрад","Ричард Д’Алессандро","Боб Майнор","Джилл Новик","Стивен Рут","Эд Лотер","Рамон Франко","Мишель Лорин","Уильям МакНамара"],"description":"Полицейский спецназ безжалостно уничтожает самых прожженных преступников нетрадиционными методами, не укладывающимися в рамки закона и нормальной полицейской практики. Его тактика беспощадна — случайные свидетели и потерпевшие считаются неизбежными жертвами — и весьма эффективна.<br /><br />Он становится фактически тайным эскадроном смерти полиции Лос-Анжелеса. Новый шеф департамента полиции не только подтверждает существование элитного отряда, но и обещает провести расследование его деятельности. За расследование также берется журналистка, состоящая в интимных отношениях с новичком отряда.","rating_kp":"5.856","rating_imdb":"5.50"},{"id":"7464","title":"Подводная братва","title_original":"Shark Tale","poster":"/images/temp/httpsstkpyandexnetimagesfilm_big7464jpg.jpg","year":"2004","country":"США","genre":"мультфильм, комедия, приключения, семейный","directors":["Бибо Бержерон","Вики Дженсон","Роб Леттерман"],"writers":["Майкл Дж. Уилсон","Роб Леттерман","Скотт Окерман","Алек Берг","Шон Бишоп","Б.Дж. Портер","Джефф Шеффер","Лона Уильямс","Дэвид П. Смит","Дэвид Сорен"],"actors":["Уилл Смит","Роберт Де Ниро","Рене Зеллвегер","Джек Блэк","Анджелина Джоли","Мартин Скорсезе","Зигги Марли","Даг Э. Даг","Майкл Империоли","Винсент Пасторе","Питер Фальк","Кэти Курик","Дэвид Сорен","Дэвид П. Смит","Бобби Дж. Томпсон","Камали Минтер","Эмили Лион Сеган","Ленни Венито","Саверио Гуэрра","Шелли Моррисон","Марк Свифт","Джеймс Мадио","Фрэнк Винсент","Джозеф Сираво","Стив Альтерман","Фил ЛаМарр","Дженифер Льюис","Шон Бишоп","Джеймс Райан","Латифа Оау","Дэвид Яновер","Стивен Апостолина","Роберт Клотуорти","Фэйз-Кевин Мангат","Кристина Агилера","Мисси Эллиот"],"description":"Весь подводный мир встревожен убийством сына главы главной преступной группировки акул и, надо же, на месте преступления находят ничего не подозревающего малька Оскара! Всю жизнь Оскар мечтал быть сильным и знаменитым, и вот ему представился прекрасный случай воспользоваться чужой славой. Но очень скоро Оскар понимает, что он натворил, взяв титул «Гроза Акул»...","rating_kp":"6.823","rating_imdb":"6.00"},{"id":"9878","title":"Кукольный дом","title_original":"A Doll's House","poster":"/images/temp/httpsstkpyandexnetimagesfilm_big9878jpg.jpg","year":"1973","country":"Великобритания","genre":"драма","directors":["Патрик Гарлэнд"],"writers":["Кристофер Хэмптон","Генрик Ибсен"],"actors":["Клэр Блум","Энтони Хопкинс","Ральф Ричардсон","Денхолм Эллиот","Анна Мэсси","Эдит Эванс","Хелен Блэтч","Кимберли Хэмптон","Дафна Риггз","Пэм Роуз","Марк Саммерфилд","Стефани Саммерфилд"],"description":"Экранизация пьесы Генрика Ибсена. Ради блага своих близких миссис Хэммерт совершила, мягко говоря, нехороший поступок. И родственники ее же осудили. Развернувшиеся события показывают молодой женщине, как призрачно ее счастье и благополучие...","rating_kp":"7.08","rating_imdb":"6.50"}]

    .flex-container
        #left
            #menu-open
                img(src='/images/icons/menu.png')
            #image-background(style="background-image: url('" + list._films[0]._poster + "')")
            #list
                #list-title= list._name
                #list-owner
                    a(href= '/channel/' + list._owner._id)= list._owner._name
                #slider
                    each film in list._films
                        a.list-item(href='/film/' + film._id)
                            img(src=film._poster)
                            .item-title= film._title
                if authch
                    .save-button(id!= list._id)
                        span.button-title СОХРАНИТЬ

        #right
            #index-wrapper
              #info
                  h1#title MOVIER
                  #subtitle КИНОКОЛЛЕКЦИЯ
                  #description фильмы &#124; подборки &#124; каналы
              #auth
                  #caption
                      a(href='#' onclick='openAuth()') ВХОД
                      | &#32;&#124;&#32;
                      a(href='#' onclick='openReg()') РЕГИСТРАЦИЯ
                  script.
                      function openAuth(){
                          document.getElementById('reg-form').style.display = 'none';
                          document.getElementById('auth-form').style.display = 'flex';
                      }
                      function openReg(){
                          document.getElementById('auth-form').style.display = 'none';
                          document.getElementById('reg-form').style.display = 'flex';
                      }
                  form#auth-form(action='/auth', enctype='multipart/form-data', method='post')
                      input(type='text', name='login', placeholder='ЛОГИН', required)
                      br
                      input(type='password', name='password', placeholder='ПАРОЛЬ', required)
                      br
                      input(type='submit', value='ВОЙТИ')
                  form#reg-form(action='/auth/new', enctype='multipart/form-data', method='post')
                      input(type='email', name='email', placeholder='ПОЧТА', required)
                      br
                      input(type='text', name='login', placeholder='ЛОГИН', required)
                      br
                      input(type='password', name='password', placeholder='ПАРОЛЬ', required)
                      br
                      input(type='text', name='name', placeholder='НАЗВАНИЕ КАНАЛА', required)
                      br
                      label
                          input(type='file', name='image', accept='image/*', hidden, required)
                          | ИЗОБРАЖЕНИЕ
                      br
                      input(type='submit', value='СОЗДАТЬ КАНАЛ')
