<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> / MOVIER</title>
    <!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Megrim|Open+Sans|Roboto|Rubik|Istok+Web" rel="stylesheet">
    <!-- Main styles-->
    <link href="/stylesheets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="flex-container">
      <div id="left">
        <div id="menu-open"><img src="/images/icons/menu.png"></div>
        <div id="image-background" style="background-image: url('https://film-base.herokuapp.com/images/temp/httpsstkpyandexnetimagesfilm_big565819jpg.jpg');"></div>
        <div id="list">
          <div id="list-title">Популярное за неделю</div>
          <div id="list-owner">Ruslan Purii</div>
          <div id="slider"><a class="list-item" href="/film/565819"><img src="https://film-base.herokuapp.com/images/temp/httpsstkpyandexnetimagesfilm_big565819jpg.jpg">
              <div class="item-title">Выживут только любовники</div></a><a class="list-item" href="/film/5656"><img src="https://film-base.herokuapp.com/images/temp/httpsstkpyandexnetimagesfilm_big5656jpg.jpg">
              <div class="item-title">Ягуар жив!</div></a><a class="list-item" href="/film/9889"><img src="https://film-base.herokuapp.com/images/temp/httpsstkpyandexnetimagesfilm_big9889jpg.jpg">
              <div class="item-title">Элитный отряд</div></a><a class="list-item" href="/film/7464"><img src="https://film-base.herokuapp.com/images/temp/httpsstkpyandexnetimagesfilm_big7464jpg.jpg">
              <div class="item-title">Подводная братва</div></a><a class="list-item" href="/film/9878"><img src="https://film-base.herokuapp.com/images/temp/httpsstkpyandexnetimagesfilm_big9878jpg.jpg">
              <div class="item-title">Кукольный дом</div></a>
          </div>
        </div>
      </div>
      <div id="right">
        <div id="index-wrapper">
          <div id="info">
            <h1 id="title">MOVIER</h1>
            <div id="subtitle">КИНОКОЛЛЕКЦИЯ</div>
            <div id="description">фильмы &#124; подборки &#124; каналы</div>
          </div>
          <div id="auth">
            <div id="caption"><a href="#" onclick="openAuth()">ВХОД</a>&#32;&#124;&#32;<a href="#" onclick="openReg()">РЕГИСТРАЦИЯ</a></div>
            <script>
              function openAuth(){
                  document.getElementById('reg-form').style.display = 'none';
                  document.getElementById('auth-form').style.display = 'flex';
              }
              function openReg(){
                  document.getElementById('auth-form').style.display = 'none';
                  document.getElementById('reg-form').style.display = 'flex';
              }
            </script>
            <form id="auth-form" action="/auth" enctype="multipart/form-data" method="post">
              <input type="text" name="login" placeholder="ЛОГИН" required><br>
              <input type="password" name="password" placeholder="ПАРОЛЬ" required><br>
              <input type="submit" value="ВОЙТИ">
            </form>
            <form id="reg-form" action="/auth/new" enctype="multipart/form-data" method="post">
              <input type="email" name="email" placeholder="ПОЧТА" required><br>
              <input type="text" name="login" placeholder="ЛОГИН" required><br>
              <input type="password" name="password" placeholder="ПАРОЛЬ" required><br>
              <input type="text" name="name" placeholder="НАЗВАНИЕ КАНАЛА" required><br>
              <label>
                <input type="file" name="image" accept="image/*" hidden required>ИЗОБРАЖЕНИЕ
              </label><br>
              <input type="submit" value="СОЗДАТЬ КАНАЛ">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>