<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> / MOVIER</title>
    <!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Megrim|Poiret+One|Open+Sans:300|Source+Sans+Pro:200|Roboto" rel="stylesheet">
    <!-- Main styles-->
    <link href="/stylesheets/css/style.css" rel="stylesheet">
    <!-- Google auth-->
    <script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
    <script src="/javascripts/auth.js" async defer></script>
    <!-- Custom JS-->
    <script src="/javascripts/nav.js" async defer></script>
    <meta name="google-signin-client_id" content="409529861195-h34jm5fsvrdfoagfl2bg71u4c59243o7.apps.googleusercontent.com">
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>
  </body>
</html>