doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title} / MOVIER
        // Font
        link(href='https://fonts.googleapis.com/css?family=Megrim|Poiret+One|Open+Sans:300|Source+Sans+Pro:200|Roboto', rel="stylesheet")
        // Main styles
        link(href='/stylesheets/css/style.css', rel='stylesheet')
        // Google auth
        script(src='https://apis.google.com/js/platform.js', async='', defer='')
        // Custom JS
        script(src='/javascripts/nav.js', async, defer)
    body
        block content
        #menu
            .menu-close-icon
                a(onclick='closeNav()')
                    img(src='/images/icons/close.png', height='60px')
            #menu-content
                #user-img
                #user-name
                #log-out
                #log-in
                    a(href='#') Войти
                a.menu-item(href='/') Главная
                .logo
                    h1 MOVIER

        include /public/javascripts/auth.js
