doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://apis.google.com/js/platform.js', async, defer)
        meta(name='google-signin-client_id', content='409529861195-h34jm5fsvrdfoagfl2bg71u4c59243o7.apps.googleusercontent.com')
    body
        div(class='g-signin2', data-onsuccess='onSignIn')
        block content
