doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title} / MOVIER
        // Font
        link(href='https://fonts.googleapis.com/css?family=Megrim|Open+Sans|Roboto|Rubik|Istok+Web', rel="stylesheet")
        // Main styles
        link(href='/stylesheets/css/style.css', rel='stylesheet')
    body
        block content
        /*#menu
            .menu-close-icon
                a(onclick='closeNav()')
                    img(src='/images/icons/close.png', height='60px')
            .menu-content
                #log-in
                    a(href='#') Войти
                a.menu-item(href='/') Главная
                .logo
                    h1 MOVIER*/
