@media only screen and (min-width: 600px) {
  .front .poster, .front .film-title {
    width: 70%;
    max-height: 80%; } }

@media only screen and (max-width: 600px) {
  .front .poster, .front .film-title {
    width: 85%;
    max-height: 85%; } }

.front .poster {
  margin: 20px 0px; }

.front .film-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: "Roboto", sans-serif; }

.film-info .rate {
  float: right;
  font-size: 2em;
  line-height: 3em; }
  .film-info .rate span {
    font-size: 1.5em; }

.film-info .film-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 600px) {
    .film-info .film-title {
      clear: both;
      padding-top: 20px; } }

.film-info .short-info {
  display: block;
  font-size: 1.2em;
  margin-bottom: 30px; }

.film-info .pp-row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
  font-size: 1.1em; }
  .film-info .pp-row .pp-title {
    flex-basis: 30%; }
  .film-info .pp-row .pp-list {
    flex-basis: 70%; }

.list-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .list-group .list-button {
    opacity: 0.5;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #3E3E3E;
    margin: 10px; }
    .list-group .list-button .button-title {
      line-height: 50px;
      padding: 0px 20px; }
  .list-group form input {
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: #3E3E3E;
    border: 0;
    padding: 0px 20px;
    margin: 10px;
    text-align: center; }
