html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  color: white; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent;
  text-decoration: none;
  color: white; }

a:active,
a:hover {
  outline: 0; }

*:focus {
  outline: none; }

img {
  display: block; }

.button, #content #left #front #save-button, #content #left #front #edit-button {
  display: inline-flex;
  align-items: center;
  height: 50px;
  margin: 10px;
  border-radius: 50px;
  border: 3px solid white; }

#menu-open {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 15px; }
  #menu-open img {
    height: 24px; }

#menu-overlay {
  visibility: hidden;
  position: absolute;
  z-index: 4;
  background: rgba(48, 48, 48, 0.8);
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column; }
  #menu-overlay #menu-close span {
    font-family: "Megrim", cursive;
    font-size: 1.5em; }
  #menu-overlay .menu-group {
    width: 100%;
    border-bottom: 3px solid #646464; }
    #menu-overlay .menu-group .group-info {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #menu-overlay .menu-group .group-info img {
        height: 18px;
        margin: 18px; }
      #menu-overlay .menu-group .group-info span {
        line-height: 50px;
        vertical-align: center; }
  #menu-overlay .menu-item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    #menu-overlay .menu-item img {
      height: 18px;
      margin: 18px; }
    #menu-overlay .menu-item span {
      line-height: 50px;
      vertical-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  #menu-overlay .menu-item:hover, #menu-overlay menu-group:hover {
    background: rgba(32, 32, 32, 0.8); }
  #menu-overlay #search {
    position: relative; }
    #menu-overlay #search #search-box {
      color: white;
      height: 44px;
      margin: 3px 16px;
      padding: 0px 44px 0px 7px;
      font-size: 1.2em;
      width: 100%;
      border: 0px;
      background: rgba(32, 32, 32, 0.5); }
    #menu-overlay #search .submit {
      position: absolute;
      right: 24px;
      top: 9px; }
  #menu-overlay #search-results {
    display: none; }

#content {
  display: flex;
  flex-flow: row wrap; }
  #content #left {
    position: relative;
    overflow: hidden;
    background: black; }
    @media only screen and (min-width: 600px) {
      #content #left {
        flex-basis: 40%;
        height: 100vh; } }
    @media only screen and (max-width: 600px) {
      #content #left {
        flex-basis: 100%;
        height: 60vh; } }
    #content #left #back, #content #left #poster, #content #left #front, #content #left #user {
      position: absolute; }
    #content #left #back {
      filter: blur(15px);
      top: -5vh;
      left: -2.5vw;
      opacity: 0.7;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 600px) {
        #content #left #back {
          width: 105vw;
          height: 110vh; } }
      @media only screen and (min-width: 600px) {
        #content #left #back {
          width: 45vw;
          height: 110vh; } }
    #content #left #front {
      z-index: 1;
      left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      @media only screen and (max-width: 600px) {
        #content #left #front {
          width: 100vw; } }
      @media only screen and (min-width: 600px) {
        #content #left #front {
          width: 40vw; } }
      #content #left #front #list-info {
        text-align: center;
        line-height: 2em; }
        #content #left #front #list-info #list-title {
          text-transform: uppercase;
          font-size: 1.3em;
          font-family: "Roboto", sans-serif; }
        #content #left #front #list-info #list-owner {
          font-size: 1.2em;
          font-family: "Roboto", sans-serif; }
      #content #left #front #slider {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: hidden; }
        #content #left #front #slider .list-item {
          margin: 0px 15px; }
          @media only screen and (max-width: 600px) {
            #content #left #front #slider .list-item img {
              height: 40vh; } }
          @media only screen and (min-width: 600px) {
            #content #left #front #slider .list-item img {
              height: 47vh; } }
          #content #left #front #slider .list-item .item-title {
            margin: 15px 0px;
            font-size: 1.1em;
            font-family: "Roboto", sans-serif;
            text-align: center; }
      #content #left #front #slider::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5; }
      #content #left #front #slider::-webkit-scrollbar {
        width: 5px;
        height: 3px; }
      #content #left #front #slider::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555; }
      #content #left #front #save-button, #content #left #front #edit-button {
        padding: 0px 20px; }
    #content #left #poster {
      z-index: 1;
      top: 0vh;
      left: 0vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      @media only screen and (min-width: 600px) {
        #content #left #poster {
          width: 40vw; } }
      @media only screen and (max-width: 600px) {
        #content #left #poster {
          width: 100vw; } }
      #content #left #poster img, #content #left #poster #poster-caption {
        width: 70%;
        max-height: 80%; }
      #content #left #poster #poster-caption {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        font-family: 'Roboto', sans-serif; }
    #content #left #user {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 600px) {
        #content #left #user {
          height: 80vh;
          width: 100vw; } }
      @media only screen and (min-width: 600px) {
        #content #left #user {
          height: 100vh;
          width: 40vw; } }
      #content #left #user > * {
        margin: 10px 0px; }
      @media only screen and (min-width: 600px) {
        #content #left #user img {
          width: 16vw;
          border-radius: 16vw; } }
      @media only screen and (max-width: 600px) {
        #content #left #user img {
          width: 60vw;
          border-radius: 84vw; } }
      #content #left #user #name {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3em;
        font-family: 'Roboto', sans-serif; }
        @media only screen and (min-width: 600px) {
          #content #left #user #name {
            width: 16vw; } }
        @media only screen and (max-width: 600px) {
          #content #left #user #name {
            width: 84vw; } }
      #content #left #user #stat {
        display: flex;
        flex-direction: row; }
        #content #left #user #stat .stat-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0px 15px; }
          #content #left #user #stat .stat-item .num {
            font-size: 3em;
            font-family: "Megrim", cursive;
            font-weight: 500; }
      #content #left #user #edit-button, #content #left #user #subscribe-button {
        padding: 0px 30px;
        margin: 30px 0px; }
  @media only screen and (max-width: 600px) {
    #content .custom-sized-left-user {
      height: 80vh !important; } }
  #content #right {
    background: black; }
    @media only screen and (min-width: 600px) {
      #content #right {
        flex-basis: 60%;
        height: 100vh;
        overflow-y: auto; } }
    @media only screen and (max-width: 600px) {
      #content #right {
        flex-basis: 100%; } }
    #content #right #film-info {
      padding: 10px 40px; }
      #content #right #film-info #rate {
        float: right;
        font-size: 2em;
        line-height: 3em; }
        #content #right #film-info #rate #kp {
          font-size: 1.5em; }
      #content #right #film-info #film-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400; }
        @media only screen and (max-width: 600px) {
          #content #right #film-info #film-title {
            clear: both;
            padding-top: 20px; } }
      #content #right #film-info #short-info {
        display: block;
        font-size: 1.2em;
        margin-bottom: 30px; }
      #content #right #film-info .pp-row {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 12px;
        font-size: 1.1em; }
        #content #right #film-info .pp-row .pp-title {
          flex-basis: 30%; }
        #content #right #film-info .pp-row .pp-list {
          flex-basis: 70%; }
    #content #right .list-group {
      width: 100%; }
      @media only screen and (min-width: 600px) {
        #content #right .list-group {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center; } }
      @media only screen and (max-width: 600px) {
        #content #right .list-group {
          display: inline-flex;
          flex-direction: column;
          align-items: center; } }
      #content #right .list-group .list-button {
        opacity: 0.5;
        height: 50px;
        border-radius: 50px;
        color: white;
        background-color: #3E3E3E;
        margin: 10px; }
        #content #right .list-group .list-button .button-title {
          line-height: 50px;
          padding: 0px 20px; }
      #content #right .list-group form input {
        height: 50px;
        border-radius: 50px;
        color: white;
        background-color: #3E3E3E;
        border: 0;
        padding: 0px 20px;
        margin: 10px;
        text-align: center; }
    #content #right #user-wrapper .lists-block {
      padding: 20px; }
      #content #right #user-wrapper .lists-block .block-title {
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
      #content #right #user-wrapper .lists-block .list-items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap; }
        #content #right #user-wrapper .lists-block .list-items .list-item {
          margin: 10px; }
          #content #right #user-wrapper .lists-block .list-items .list-item img {
            height: 35vh; }
          #content #right #user-wrapper .lists-block .list-items .list-item .list-title {
            max-width: 10em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            font-family: "Roboto", sans-serif;
            margin: 10px 0px; }
    #content #right #index-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh; }
      #content #right #index-wrapper #info {
        text-align: center; }
        #content #right #index-wrapper #info #title {
          margin: 0;
          font-family: "Megrim", cursive;
          font-size: 4em; }
        #content #right #index-wrapper #info #subtitle {
          font-size: 1.5em; }
      #content #right #index-wrapper #auth #caption {
        text-align: center;
        margin: 20px 0px; }
      #content #right #index-wrapper #auth form {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #content #right #index-wrapper #auth form input {
          height: 50px;
          border-radius: 50px;
          color: white; }
          #content #right #index-wrapper #auth form input[type='text'], #content #right #index-wrapper #auth form input[type='email'], #content #right #index-wrapper #auth form input[type='password'] {
            width: 200px;
            background-color: #3E3E3E;
            border: 0;
            padding: 0px 20px; }
          #content #right #index-wrapper #auth form input[type='submit'] {
            background-color: black;
            border: 5px solid white;
            padding: 0px 20px; }
        #content #right #index-wrapper #auth form label {
          padding: 0px 15px;
          height: 30px;
          width: 120px;
          text-align: center;
          border: 1px solid white;
          border-radius: 30px;
          background-color: #3E3E3E;
          line-height: 30px;
          font-size: 0.8em;
          color: gray; }
      #content #right #index-wrapper #auth #reg-form {
        display: none; }

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  background-color: black; }
  #menu a, #menu .logo, #menu a:hover, #menu a:active {
    color: white; }
  #menu .menu-close-icon {
    position: fixed;
    right: 40px;
    top: 30px; }
  #menu .menu-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
    #menu .menu-content a {
      font-size: 2em; }
    #menu .menu-content #user-img img {
      border-radius: 50%;
      width: 120px; }
