body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content{
    display: -webkit-flex;
    display: flex;
}
.col{
    padding: 10px;
    display: inline-block;
}
.poster{
    width: 320px;
}
.info{
    width: 400px;
}
